<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name ="Spravka91" connectionString="Data Source=WIN-UJ8E94JE1SS;Initial Catalog=Spravka91;Integrated Security=True"/>
</connectionStrings>
</configuration>